<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.QuanLyTHPTConnectionString"
            connectionString="Data Source=HMCHOAN-JLMSP5D\SQLEXPRESS;Initial Catalog=QuanLyTHPT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.QuanLyTHPTConnectionString1"
            connectionString="Data Source=HUNGTRAN;Initial Catalog=QuanLyTHPT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.QuanLyTHPTConnectionString2"
            connectionString="Data Source=DESKTOP-9SJ3T54\SQLEXPRESS;Initial Catalog=QuanLyTHPT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>